<footer>

    <section class="main-unidades">
        <div class="row">
            <header class="text-title">
                <h1 style="color: #f0ad4e;">Nossas Unidades</h1>
                <h2 style="color: #ffffff;">Locais de fácil acesso com indicação de hotéis, restaurantes e estacionamento</h2>
            </header>
    
            <div class="col-uni">
                <article class="box-uni">
                    <h2 style="color: #f0ad4e;">CA cursos - Goiânia</h2>
                    <ul>
                        <li><strong>Endereço:</strong> Rua 02,  Esquina com a 07 nº 115,<br/>
                            Centro – Goiânia – GO CEP : 74013-020 </li>
                        <li><strong>Fone:</strong> (62) 98400-2318 e 98200-1842</li>
                        <li><strong>E-mail</strong>relacionamento@cacursos.com.br</li>
                        <li><strong>Sugestões ou Reclamações</strong></li>
                        <li><strong>E-mail:</strong> cristiano@cacursos.com.br</li>
                    </ul>
                </article>
    
                <article class="box-uni">
                    <h2 style="color: #f0ad4e;">CA cursos - DF</h2>
                    <ul>
                        <li><strong>Endereço:</strong> C 12 Bl. J Edificio Techmeier 2° Andar, Salas 201-202 Taguatinga Centro – Brasília – DF CEP: 72.019-900  </li>
                        <li><strong>Fone:</strong> (62) 98400-2318 e 98200-1842</li>
                        <li><strong>E-mail</strong>relacionamento@cacursos.com.br</li>
                        <li><strong>Sugestões ou Reclamações</strong></li>
                        <li><strong>E-mail:</strong> cristiano@cacursos.com.br</li>
                    </ul>
                </article>
            </div>
        </div>
    </section>
    
    </footer>
    
    </body>
    <script src="/res/site/js/jquery.js"></script>
    <script src="/res/site/js/cidades_estados.json"></script>
    <script src="/res/site/js/buscacidade.js"></script>
    <script src="/res/site/js/controller.js"></script>
    <script src="/res/site/js/utils.js"></script>
    <script src="/res/site/js/aos.js"></script>
    <script>
     AOS.init();

    </script>
    </html
    