<!DOCTYPE html>

<html lang="pt-BR">

<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="google-site-verification" content="google23d7af559cd08983.html">

    <meta name="keywords" content="Curso de Manutenção em Smartphones Nível I ao III, manutenção, celulares, assistência técnica"/>

    <meta name="description" content="Curso de Manutenção em Smartphones Nível I ao III Esse curso começa do zero e vai te preparar para trabalhar em uma assistência ou montar uma!"/>

    <meta name="author" content="CA Cursos"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Curso de Manutenção em Smartphones Nível I ao III</title>

    <!-- Google Fonts -->

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

    <!-- Links de Style -->
    <link href="/res/site/assets/css/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/res/site/assets/css/icons.css"/>
    <link rel="shortcut icon" href="/res/site/assets/images/favicon.png"/>

    <link rel="stylesheet" href="/res/site/assets/css/boot.css"/>

    <link rel="stylesheet" href="/res/site/assets/css/style.css"/>



    

    <meta name="twitter:card" value="summary">

    <meta name="twitter:site" content="https://twitter.com/cacursos1">

    <meta name="twitter:title" content="Curso de Manutenção em Smartphones Nível I ao III">

    <meta name="twitter:description" content="Curso de Manutenção em Smartphones Nível I ao III Esse curso começa do zero e vai te preparar para trabalhar em uma assistência ou montar uma!">

    <meta name="twitter:creator" content="https://twitter.com/cacursos1">

    <!-- imagens para o Twitter Summary Card precisam ter pelo menos 200×200 px -->

    <meta name="twitter:image" content="https://landpage.cacursos.com.br/fundo-mobil.webp"><!-- para o sistema Open Graph-->

    <meta property="og:title" content="Curso de Manutenção em Smartphone Nivel I ao III" />

    <meta property="og:type" content="article" />

    <meta property="og:url" content="https://landpage.cacursos.com.br/" />

    <!--<meta property="og:image" content="http://example.com/image.jpg" />-->

        <meta property="og:image" content="https://landpage.cacursos.com.br/fundo-mobil.webp" />

    <meta property="og:description" content="Curso de Manutenção em Smartphones Nível I ao III Esse curso começa do zero e vai te preparar para trabalhar em uma assistência ou montar uma!" />

    <meta property="og:site_name" content="Curso de Manutenção em Smartphones Nível I ao III" />

    <meta property="fb:admins" content="270930496349653" />

    
<!-- Global site tag (gtag.js) - Google Ads: 928735034 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-928735034"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-928735034');
</script>
  
<!-- Event snippet for LEAD DA LANDING PAGE conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-928735034/8jiuCJbi2s0BELq-7boD'});
</script>
</head>

<body>